@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300italic,300,200italic,200,700italic,700);

* {
  font: inherit;
  box-sizing: border-box;
  -oz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
  background-color: white;
}

html {
  font-size: 1em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-style: italic;
}

header {
  z-index: 2;
  width: 100%;
  height: 75px;
  position: fixed;
  /*background-color: #4D84A6;*/
  text-align: left;
}

ul {
  color: white;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 1em;
  padding-left: 4em;
}

i {
  padding-left: .40em;
  padding-top: .5em;
}

li {
  list-style: none;
}

.close-button {
  display: inline-block;
  vertical-align: top;
  height: 21px;
  top: -20px;
  right: -35px;
  width: 28px;
  height: 28px;
  position: absolute;
}

.close-button:hover {
  cursor: pointer;
}

.close-button span {
  margin-top: 6px;
  display: block;
  width: 20px;
  height: 2px;
  background-color: white;
}

.close-button span:first-child {
  -oz-transform: translateY(2px) rotate(45deg);
  -moz-transform: translateY(2px) rotate(45deg);
  -webkit-transform: translateY(2px) rotate(45deg);
  transform: translateY(2px) rotate(45deg);
}

.close-button span:nth-child(2) {
  -oz-transform: translateY(-6px) rotate(-45deg);
  -moz-transform: translateY(-6px) rotate(-45deg);
  -webkit-transform: translateY(-6px) rotate(-45deg);
  transform: translateY(-6px) rotate(-45deg);
}

/*********HEADER AND PARALLAX*********/

.scroll-animate {
  overflow: hidden;
  margin-left: 200px;
}

.scroll-animate-main {
  width: 100%;
}

.wrapper {
  margin-top: 75vh;
}

.app-header {
  top: 0;
  position: fixed;
  width: calc(100% - 200px);
  height: 75vh;
  background-color: #4D84A6;
  z-index: -2;
  overflow: hidden;
}

.color-fade {
  background-color: #4D84A6;
}

.left-side,
.right-side {
  position: absolute;
  top: -10px;
  border-bottom: 10px solid #F8F8F8;
  border-right: 10px solid transparent;
  height: 0;
  width: 50%;
}

.right-side {
  border-right: 0;
  border-left: 10px solid transparent;
  left: 50%;
}


.name {
  width: 100%;
  height: 100%;
  opacity: 0;
  margin: 0 auto;
  -oz-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  text-align: center;
}

.name h1 {
  font-size: 4em;
  color: white;
  letter-spacing: .125em;
  padding: 28vh 30px 0;
  margin-top: 0;
}

.name h1 span:last-child {
  font-weight: 700;
}

.fadeOut {
  opacity: 0;
}

.app-header,
.app-footer,
.scroll-animate-main {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -oz-transition-property: all;
  transition-property: all;
}

/*********CONTENT SECTIONS*********/

.app-main {
  z-index: 1;
  position: relative;
  margin-top: 75vh;
  padding-bottom: 100px;
  background-color: #F8F8F8;
  -webkit-box-shadow: 1px -6px 34px 2px rgba(31,31,31,1);
  -moz-box-shadow: 1px -6px 34px 2px rgba(31,31,31,1);
  box-shadow: 1px -6px 34px 2px rgba(31,31,31,1);
}

.section {
  margin: 0 auto;
  text-align: center;
  opacity: 0;
  width: 800px;
  /*border-bottom: 1px solid lightgray;*/
  padding-bottom: 2em;
  -oz-transition: all 1.5s ease-in-out;
  -moz-transition: all 1.5s ease-in-out;
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}

.app-bio,
.app-work,
.app-photography {
  margin: 10px auto 0;
  padding-top: 35px;
}

.app-bio h4,
.app-work h4,
.app-photography h4,
.app-contact h4 {
  color: #4D84A6;
  font-size: 2em;
  font-weight: 200;
  font-style: normal;
  letter-spacing: 2px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 2em;
}

.app-bio p,
.app-work p,
.app-photography p,
.app-contact p  {
  letter-spacing: 1px;
  font-size: 1.5em;
  color: #666666;
}

.app-contact > p {
  padding-bottom: 1.5em;
  border-bottom: 1px solid lightgray;
  margin: 100px 0 35px 0;
}

.fadeIn {
  opacity: 1;
}

/*********FOOTER*********/

.app-footer {
  z-index: -2;
  bottom: 0;
  position: fixed;
  width: calc(100% - 200px);
  height: 120px;
  background-color: #4D84A6;
}

.app-footer p {
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 75px;
  color: white;
  font-size: .75em;
  font-style: normal;
  text-align: center;
}

/*********TOP SCROLL BUTTON*********/

div#scroll-top {
  width: 0;
	height: 0;
	border-left: 18px solid transparent;
	border-right: 18px solid transparent;
	border-bottom: 18px solid #3D6088;
  -oz-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

div#scroll-top:hover {
  cursor: pointer;
  border-bottom: 18px solid #4D84A6;
}

.border-none {
  font-size: 1em;
  border: none;
}

/*********CONTACT SECTION*********/

.contact-container {
  width: 100%;
  height: 200px;
}

ul.app-social {
  padding: 0;
  text-align: center;
  font-size: 1.25em;
  color: black;
}

ul.app-social li {
  display: inline-block;
  margin-right: 20px;
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
}

ul.app-social p {
  margin-top: 5px;
  font-size: 1em;
}

/*ul.app-social li:first-child {
  display: block;
  margin: 0 0 25px;
}*/

ul.app-social li:last-child {
  margin-right: 0;
}

ul.app-social li a,
ul.app-social li a:visited {
  -oz-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  color: #4D84A6;
}

ul.app-social li a:hover,
.left-column p a:hover{
  color: #3D6088;
  border-bottom: 3px solid #3D6088;
}

.left-column {
  width: 250px;
  margin-left: 50px;
  float: left;
  text-align: left;
  font-size: .75em;
  font-style: normal;
}

.left-column p:first-child {
  margin-top: 31px;
  font-weight: 400;
}

.left-column p a {
  color: #4D84A6;
  -oz-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.right-column {
  width: 500px;
  height: 100%;
  float: left;
}


/*********FOR HAMBURGER BUTTON*********/

#hamburger-button {
  display: none;
  vertical-align: top;
  height: 21px;
  width: 28px;
  margin: 20px 0 0 20px;
  z-index: 9999;
  position: fixed;
  -oz-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

#hamburger-button:hover {
  cursor: pointer;
}

#hamburger-button > span {
  margin-top: 6px;
  display: block;
  width: 28px;
  height: 3px;
  background-color: white;
  -oz-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -webkit-transition: all .35s ease-in-out;
  transition: all .45s ease-in-out;
}

#hamburger-button span:first-child {
  margin-top: 0;
}

#hamburger-button.open :first-child {
  background-color: white !important;
  -oz-transform: translateY(9px) rotate(45deg);
  -moz-transform: translateY(9px) rotate(45deg);
  -webkit-transform: translateY(9px) rotate(45deg);
  transform: translateY(9px) rotate(45deg);
}

#hamburger-button.open :nth-child(2) {
  background-color: white !important;
  -oz-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
}

#hamburger-button.open :last-child {
  background-color: white !important;
  -oz-transform: translateY(-9px) rotate(-45deg);
  -moz-transform: translateY(-9px) rotate(-45deg);
  -webkit-transform: translateY(-9px) rotate(-45deg);
  transform: translateY(-9px) rotate(-45deg);
}

#hamburger-button.open {
  -oz-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}


/*********FOR MAIN MENU *********/

#main-menu-wrapper {
  background-color: #3D6088;
  z-index: -1;
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0px;
  opacity: 1;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5 ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

ul#main-menu {
  text-align: center;
  height: 100%;
  list-style: none;
  margin-bottom: 20px;
  padding: 55px 0 0;
}

ul#main-menu h4 {
  width: 150px;
  letter-spacing: 2px;
  margin: 0 auto 125px;
  padding: 45px 0;
  font-weight: 200;
  font-style: normal;
  border-bottom: 1px solid white;
}

ul#main-menu li {
  font-style: normal;
  font-size: 100%;
  font-weight: 400;
  letter-spacing: 2px;
  width: 120px;
  left: 0px;
  position: relative;
  opacity: 1;
  display: block;
  padding: 0 0 8px 0;
  margin: 0 auto 35px;
  color: white;
  border-bottom: 3px solid #3D6088;
}

ul#main-menu :nth-child(5) {
  margin-bottom: 125px;
}

ul#main-menu li {
  text-decoration: none;
  -oz-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

ul#main-menu li:hover {
  border-bottom: 3px solid white;
  cursor: pointer;
}

ul#main-menu li:last-child {
  border-top: 1px solid white;
  padding-top: 85px;
  color: white;
  font-size: .5em;
  width: 150px;
  letter-spacing: 1px;
}

ul#main-menu li:last-child:hover {
  border-bottom: none;
  cursor: auto;
}

/*********TOP MENU*********/
#menu-wrapper {
  background-color: #3D6088;
  z-index: -1;
  width: 100%;
  height: 300px;
  position: fixed;
  top: -310px;
  left: 0;
  opacity: 1;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5 ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-shadow: 0px 2px 11px 0px rgba(51,51,51,1);
  -moz-box-shadow: 0px 2px 11px 0px rgba(51,51,51,1);
  box-shadow: 0px 2px 11px 0px rgba(51,51,51,1);
}



#menu-wrapper.open {
  top: 0;
  opacity: 1;
}

ul#menu {
  text-align: center;
  height: 100%;
  list-style: none;
  margin-bottom: 20px;
  padding: 35px 0 0;
}

ul#menu li {
  font-style: normal;
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: 2px;
  width: 200px;
  left: 0px;
  position: relative;
  opacity: 1;
  display: block;
  padding: 0 0 8px 0;
  margin: 0 auto 25px;
  color: white;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25 ease;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  border-bottom: 3px solid #3D6088;
}

/*ul#menu :nth-child(5) {
  margin-bottom: 125px;
}*/

ul#menu li {
  text-decoration: none;
  -oz-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

ul#menu li:hover {
  border-bottom: 3px solid white;
  cursor: pointer;
}

/*ul#menu li:last-child {
  border-top: 1px solid white;
  padding-top: 85px;
  color: white;
  font-size: .5em;
  width: 150px;
  letter-spacing: 1px;
}

ul#menu li:last-child:hover {
  border-bottom: none;
  cursor: auto;
}*/

/*********WORK / PROJECT LIST*********/

#hue-square,
#wiki-articles,
#jack,
#hue-square,
#isabel-chen,
#neighbor-nation,
#w-now,
#neighbor-nation {
  width: 250px;
  height: 250px;
  margin: 0 15px 21px 0;
}

#ntrval,
#jack,
#hue-square {
  margin-right: 0;
}

ul.project-container {
  width: 100%;
  margin-top: 50px;
  display: block;
}

ul.project-container li {
  display: inline-block;
  position: relative;
  margin-bottom: 50px;
}

ul.project-container li a .project-info {
}

ul.project-container li a .project-info .project-descrip {
  position: absolute;
  color: white;
  width: 100%;
  height: 100%;
  padding: 10px;
  margin: 0 auto;
  opacity: 0;
  -oz-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

ul.project-container li a .project-info .project-descrip h5 {
  font-size: 1.25em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -1px;
  margin: 1em auto;
}

ul.project-container li a .project-info .project-descrip span.link {
  margin: 25px auto 0;
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: .75em;
  color: white;
  width: 120px;
  padding: 5px;
  border: 2px solid white;
  -oz-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

ul.project-container li a .project-info .project-descrip span.link:hover {
  background-color: white;
  color: #4D84A6;
  border: 2px solid white;
}

ul.project-container li a .project-info .project-background {
  position: absolute;
  background-color: #4D84A6;
  opacity: 1;
  width: 100%;
  height: 0;
  -oz-transition: all 0.125s ease-in-out;
  -moz-transition: all 0.125s ease-in-out;
  -webkit-transition: all 0.125s ease-in-out;
  transition: all 0.125s ease-in-out;
}

ul.project-container li:hover a .project-info .project-descrip {
  opacity: 1;
}

ul.project-container li:hover a .project-info .project-background {
  height: 100%;
}

ul.project-container li:hover a .project-info .project-descrip {
  -oz-transition-delay: .175s;
  -moz-transition-delay: .175s;
  -webkit-transition-delay: .175s;
  transition-delay: .175s;
}

/*********PHOTOGRAPHY*********/
ul.experimental li,
ul.film li {
  width: 250px;
  height: 250px;
  display: inline-block;
  margin: 0 21px 21px 0;
}

ul.experimental li:nth-child(3n),
ul.film li:nth-child(3n) {
  margin-right: 0;
}

div.thumb {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

img.photo-thumb {
  -oz-transition: all .125s ease-in-out;
  -moz-transition: all .125s ease-in-out;
  -webkit-transition: all .125s ease-in-out;
  transition: all .125s ease-in-out;
  opacity: .75;
}

img.photo-thumb:hover {
  cursor: pointer;
  opacity: 1;
}

img.photo {
  max-height: 650px;
}

ul.experimental {
  border-bottom: 1px solid lightgray;
}

/*********MEDIA QUERIES*********/

@media only screen and (max-width: 1200px) {

  .section{
    width: 700px;
  }

  ul.experimental li,
  ul.film li {
    width: 200px;
    height: 200px;
    margin: 0 21px 21px 0;
  }

  img.photo-thumb {
    width: 200px;
    height: 200px;
  }

  #hue-square img,
  #wiki-articles img,
  #jack img,
  #ntrval img,
  #hue-square,
  #wiki-articles,
  #jack,
  #ntrval,
  #neighbor-nation img,
  #neighbor-nation,
  #isabel-chen img,
  #isabel-chen,
  #w-now img,
  #w-now {
    width: 200px;
    height: 200px;
  }

  .project-info {
    width: 200px;
    height: 200px;
  }

  ul.project-container li a .project-info .project-descrip {
    width: 200px;
    height: 200px;
  }

  ul.project-container li a .project-info .project-background {
    width: 200px;
  }

  ul.project-container li a .project-info .project-descrip h5 {
    font-size: .85em;
    margin-bottom: 15px;
  }

  ul.project-container li a .project-info .project-descrip span {
    font-size: .75em;
  }

  ul.project-container li a .project-info .project-descrip span.link {
    font-size: .65em;
    margin-top: 15px;
    width: 100px;
  }

  div.left-column {
    width: 220px;
  }

  div.right-column {
    width: 380px;
  }
}

@media only screen and (min-width: 960px) {
  #menu-wrapper.open {
    top: -310px;
  }
}

@media only screen and (max-width: 960px) {

  img.photo {
    max-width: 80vw;
  }

  .md-content {
    height: auto !important;
  }

  #hamburger-button {
    display: inline-block;
  }

  div.left-column {
    width: 220px;
    margin-left: 35px;
  }

  div.right-column {
    width: 380px;
  }

  #main-menu-wrapper {
    left: -200px;
    opacity: 0;
  }

  .scroll-animate {
    margin-left: 0;
  }

  .app-header,
  .app-footer {
    width: 100%;
  }

}

@media only screen and (max-width: 768px) {
  .section {
    width: 420px;
  }

  #ntrval,
  #isabel-chen,
  #neighbor-nation {
    margin-right: 0;
  }

  #hue-square {
    margin-right: 15px;
  }

  ul.experimental li:nth-child(2n+1),
  ul.film li:nth-child(2n+1) {
    margin-right: 15px;
    margin-bottom: 15px;
  }

  ul.experimental li:nth-child(2n),
  ul.film li:nth-child(2n) {
    margin-right: 0;
  }

  div.contact-container {
    font-size: .75em;
  }

  div.left-column {
    width: 160px;
    margin-left: 0px;
  }

  div.right-column {
    width: 260px;
  }

  .profile-photo img {
    width: 78px;
    height: 78px;
  }

  ul.project-container li:hover {
    cursor: pointer;
  }

  ul.project-container li:hover a .project-info .project-descrip,
  ul.project-container li:hover a .project-info .project-background  {
    display: none;
  }

  ul.app-social li {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .section {
    width: 300px;
  }

  ul.experimental li:nth-child(2n+1),
  ul.film li:nth-child(2n+1) {
    margin-right: 0;
    margin-bottom: 15px;
  }

  #main-menu {
    font-size: 1.25em;
  }

  #hue-square,
  #wiki-articles,
  #isabel-chen,
  #neighbor-nation,
  #jack,
  #w-now {
    margin-right: 0;
  }

  ul.project-container li#neighbor-nation a .project-info .project-descrip,
  ul.project-container li#neighbor-nation a .project-info .project-background {
    width: 200px;
  }

  div.app-contact {
    padding-bottom: 50px;
  }

  div.app-contact p {
    margin-bottom: 10px;
  }

  div.left-column {
    font-size: 1em;
    text-align: center;
    width: 100%;
  }

  div.left-column p:nth-child(2) a:hover {
    border-bottom: 1px solid #4D84A6;
  }

  div.left-column p:first-child {
    margin-top: 10px;
  }

  div.right-column {
    font-size: 1.25em;
    width: 100%;
    height: auto;
  }
}
