@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300italic,300,200italic,200,700italic,700);

* {
  font: inherit;
  box-sizing: border-box;
  -oz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
  background-color: white;
}

html {
  font-size: 1em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  font-style: italic;
}

header {
  z-index: 2;
  width: 100%;
  height: 75px;
  position: fixed;
  background-color: #4463A9;
}

ul {
  color: white;
  margin: 0;
  padding-top: 1.5em;
  text-align: center;
}

/*li:first-child {
  padding-left: 1.5em;
}*/

li {
  font-size: 1.5em;
  display: inline-block;
  list-style: none;
  padding-right: 1em;
  padding-left: 1em;
  border-right: 1px solid white;
}

li:last-child {
  border: none;
}

h3 {
  font-size: 1em;
  padding-left: 4em;
}

i {
  padding-left: .40em;
  padding-top: .5em;
}

.scroll-animate {
  overflow: hidden;
}

.scroll-animate-main {
  width: 100%;
  position: fixed;
}

.wrapper {
  margin-top: 80vh;
}

.app-header {
  top: 0;
  position: fixed;
  width: 100%;
  height: 80vh;
  background-color: #4463A9;
  z-index: -1;
  overflow: hidden;
}

.color-fade {
  background-color: #4463A9;
}

.left-side,
.right-side {
  position: absolute;
  top: -20px;
  border-bottom: 20px solid white;
  border-right: 20px solid transparent;
  height: 0;
  width: 50vw;
}

.right-side {
  border-right: 0;
  border-left: 20px solid transparent;
  left: 50vw;
}


.name {
  width: 100%;
  height: 100%;
  opacity: 0;
  margin: 0 auto;
  transition: all 1s ease-in-out;
}

.name h1 {
  text-align: center;
  font-size: 4em;
  color: white;
  letter-spacing: .125em;
  padding-top: 28vh;
  margin-top: 0;
}

.name h1 span:last-child {
  font-weight: 700;
}

.fadeOut {
  opacity: 0;
}

.app-header,
.scroll-animate-main {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  transition-property: all;

  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;

  -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
  transition-timing-function: cubic-bezier(0, 0, 0, 1);
}

.app-main {
  z-index: 1;
  position: relative;
  margin-top: 80vh;
  background-color: white;
}

.app-bio {
  margin: 20px auto 0;
  padding-top: 20px;

}

.app-bio h4,
.app-work {
  color: #4463A9;
  font-size: 2em;
  border-bottom: 1px solid lightgray;
  padding-bottom: 2em;
}

.app-bio p {
  font-size: 1.5em;
  color: #666666;
}

.section {
  margin: 0 auto;
  text-align: center;
  opacity: 0;
  width: 65%;
  border-bottom: 1px solid lightgray;
  padding-bottom: 2em;
  transition: all 1.5s ease-in-out;
}

.fadeIn {
  opacity: 1;
}

/*.container {
  padding-top: 5em;
  text-align: center;
}

.active {
  background-color: #FB3640;
}

.activeThree {
  color: #F4A261;
}

.activeTwo {
  color: #F4A261 !important;
}

.white {
  color: white;
}

.button {
  text-decoration: none;
  color: #1F487E;
}

.button i:hover {
  color: #605F5E;
}*/
